.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #00000033;
  	overflow: auto;
}

.popup-wrapper{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
  	background-color: #fff;
  	margin-top: 50px;
  	margin-bottom: 50px;
  	position: relative;
}

.noscrolljs{
	overflow: hidden;
}

.close-popup{
	padding: 5px;
  	font-size: 30px;
  	font-weight: 600;
  	position: absolute;
  	top: 5px;
  	right: 10px;
  	cursor: pointer;
}